In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
import pycaret
from pycaret.regression import *
import pickle

In [2]:
data = pd.read_csv(r"C:\Users\VamsiMuramreddy\Desktop\Insurance-Flask\dataset.csv")

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
data.duplicated().sum()

1

In [7]:
data.drop_duplicates()

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [8]:
for col in data.select_dtypes(include="object").columns:
    data[col] = le.fit_transform(data[col])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(2), int32(3), int64(2)
memory usage: 57.6 KB

In [10]:
data.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int32
charges     float64
dtype: object

In [11]:
reg = setup(data = data, target = 'charges')

In [12]:
best =compare_models()

In [13]:
best

GradientBoostingRegressor(random_state=5778)

In [14]:
best.predict([[50,1,30.970,3,0,1]])

array([11156.54069209])

In [15]:
pickle.dump(best,open('final_model.pkl','wb'))
loaded_model = pickle.load(open('final_model.pkl','rb'))
loaded_model.predict([[50,1,30.970,3,0,1]])

array([11156.54069209])

In [16]:
CBR = create_model(best)

In [ ]:
tuned_CBR = tune_model(best,n_iter = 50)

Initiated  . . . . . . . . . . . . . . . . . .                     15:01:23
Status     . . . . . . . . . . . . . . . . . .    Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Regressor

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 50 candidates, totalling 500 fits

In [ ]:
plot_model(CBR)

In [ ]:
predict_model(tuned_CBR)

In [ ]:
final_best = finalize_model(best)

In [ ]:
final_best

In [ ]:
with open("model.pkl", 'wb') as f:
     pickle.dump(best,f)

In [ ]:
da = open('model.pkl', 'rb')
lp = pickle.load(da)

In [ ]:
lp.predict([[50,1,30.970,3,0,1]])